@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,#111111,#202020);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color:#fff;
  width: 99vw;
  height: 100vh;
  overflow-x: hidden;
}

h1{
  color: #1caef1;
  font-size: 56px;
  text-shadow:4px 5px #412f53;
  font-family: 'Rubik Moonrocks', cursive;
}
h2{
  color: #1caef1;
}

p{
  font-size: 28px;
  color: #1caef1;
  text-shadow:1px 1px #792ec4;
  margin: 0;
}
/* form styles */
.form-container{
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* input field styles */
.input-container{
  display: flex;
}
input{
  border: none;
  padding: 12px 15px;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 1px 2px 6px #353535;
  background-color: #1d1c1c;
  color:lightgray;
}

select{
  border: none;
  padding: 10px;
  width: 100px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px #353535;
  background-color: #1d1c1c;
}

input:hover,select:hover{
  box-shadow: 0px 0px 6px #792ec4;
}
.button-container{
  display: flex;
}

/* button styles */
button{
  background-color: #792ec4;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px;
  border: none;
  color: #EEEEEE;
  font-weight: bold;
  box-shadow: 1px 1px 15px #181818;
  cursor: pointer;
  margin-top: 20px;
  width:180px;
}

button:hover{
  background-color: #500e91;
}


.list{
  text-align: left;
  list-style: none;
  color: lightgrey;
}

.list span{
  color: #792ec4;
}




